[FORMAT]
max-line-length=200
max-module-lines = 1200

[MESSAGES CONTROL]
disable=
    invalid-name,  # C0103
    disallowed-name,  # C0104
    # empty-docstring,  # C0112
    # unneeded-not,  # C0113
    missing-module-docstring,  # C0114
    missing-class-docstring,  # C0115
    missing-function-docstring,  # C0116
    # singleton-comparison,  # C0121
    # unidiomatic-typecheck,  # C0123
    # non-ascii-name,  # C0144
    # consider-using-enumerate,  # C0200
    # consider-iterating-dictionary,  # C0201
    # bad-classmethod-argument,  # C0202
    # bad-mcs-method-argument,  # C0203
    # bad-mcs-classmethod-argument,  # C0204
    # single-string-used-for-slots,  # C0205
    # consider-using-dict-items,  # C0206
    # use-maxsplit-arg,  # C0207
    # use-sequence-for-iteration,  # C0208
    consider-using-f-string,  # C0209
    # line-too-long,  # C0301
    # too-many-lines,  # C0302
    # trailing-whitespace,  # C0303
    # missing-final-newline,  # C0304
    # trailing-newlines,  # C0305
    # multiple-statements,  # C0321
    # superfluous-parens,  # C0325
    # mixed-line-endings,  # C0327
    # unexpected-line-ending-format,  # C0328
    # wrong-spelling-in-comment,  # C0401
    # wrong-spelling-in-docstring,  # C0402
    # invalid-characters-in-docstring,  # C0403
    # multiple-imports,  # C0410
    wrong-import-order,  # C0411
    ungrouped-imports,  # C0412
    # wrong-import-position,  # C0413
    # useless-import-alias,  # C0414
    import-outside-toplevel,  # C0415
    # use-implicit-booleaness-not-len,  # C1802
    # use-implicit-booleaness-not-comparison,  # C1803
    # syntax-error,  # E0001
    # unrecognized-inline-option,  # E0011
    # bad-option-value,  # E0012
    # bad-plugin-value,  # E0013
    # bad-configuration-section,  # E0014
    # init-is-generator,  # E0100
    # return-in-init,  # E0101
    # function-redefined,  # E0102
    # not-in-loop,  # E0103
    # return-outside-function,  # E0104
    # yield-outside-function,  # E0105
    # nonexistent-operator,  # E0107
    # duplicate-argument-name,  # E0108
    # abstract-class-instantiated,  # E0110
    # bad-reversed-sequence,  # E0111
    # too-many-star-expressions,  # E0112
    # invalid-star-assignment-target,  # E0113
    # star-needs-assignment-target,  # E0114
    # nonlocal-and-global,  # E0115
    # nonlocal-without-binding,  # E0117
    # used-prior-global-declaration,  # E0118
    # misplaced-format-function,  # E0119
    # method-hidden,  # E0202
    # access-member-before-definition,  # E0203
    # no-method-argument,  # E0211
    # no-self-argument,  # E0213
    # invalid-slots-object,  # E0236
    # assigning-non-slot,  # E0237
    # invalid-slots,  # E0238
    # inherit-non-class,  # E0239
    # inconsistent-mro,  # E0240
    # duplicate-bases,  # E0241
    # class-variable-slots-conflict,  # E0242
    # invalid-class-object,  # E0243
    # non-iterator-returned,  # E0301
    # unexpected-special-method-signature,  # E0302
    # invalid-length-returned,  # E0303
    # invalid-bool-returned,  # E0304
    # invalid-index-returned,  # E0305
    # invalid-repr-returned,  # E0306
    # invalid-str-returned,  # E0307
    # invalid-bytes-returned,  # E0308
    # invalid-hash-returned,  # E0309
    # invalid-length-hint-returned,  # E0310
    # invalid-format-returned,  # E0311
    # invalid-getnewargs-returned,  # E0312
    # invalid-getnewargs-ex-returned,  # E0313
    # import-error,  # E0401
    # relative-beyond-top-level,  # E0402
    # used-before-assignment,  # E0601
    # undefined-variable,  # E0602
    # undefined-all-variable,  # E0603
    # invalid-all-object,  # E0604
    # invalid-all-format,  # E0605
    # no-name-in-module,  # E0611
    # unpacking-non-sequence,  # E0633
    # bad-except-order,  # E0701
    # raising-bad-type,  # E0702
    # bad-exception-context,  # E0703
    # misplaced-bare-raise,  # E0704
    # raising-non-exception,  # E0710
    # notimplemented-raised,  # E0711
    # catching-non-exception,  # E0712
    # bad-super-call,  # E1003
    # no-member,  # E1101
    # not-callable,  # E1102
    # assignment-from-no-return,  # E1111
    # no-value-for-parameter,  # E1120
    # too-many-function-args,  # E1121
    # unexpected-keyword-arg,  # E1123
    # redundant-keyword-arg,  # E1124
    # missing-kwoa,  # E1125
    # invalid-sequence-index,  # E1126
    # invalid-slice-index,  # E1127
    # assignment-from-none,  # E1128
    # not-context-manager,  # E1129
    # invalid-unary-operand-type,  # E1130
    # unsupported-binary-operation,  # E1131
    # repeated-keyword,  # E1132
    # not-an-iterable,  # E1133
    # not-a-mapping,  # E1134
    # unsupported-membership-test,  # E1135
    # unsubscriptable-object,  # E1136
    # unsupported-assignment-operation,  # E1137
    # unsupported-delete-operation,  # E1138
    # invalid-metaclass,  # E1139
    # unhashable-dict-key,  # E1140
    # dict-iter-missing-items,  # E1141
    # await-outside-async,  # E1142
    # logging-unsupported-format,  # E1200
    # logging-format-truncated,  # E1201
    # logging-too-many-args,  # E1205
    # logging-too-few-args,  # E1206
    # bad-format-character,  # E1300
    # truncated-format-string,  # E1301
    # mixed-format-string,  # E1302
    # format-needs-mapping,  # E1303
    # missing-format-string-key,  # E1304
    # too-many-format-args,  # E1305
    # too-few-format-args,  # E1306
    # bad-string-format-type,  # E1307
    # bad-str-strip-call,  # E1310
    # invalid-envvar-value,  # E1507
    # yield-inside-async-function,  # E1700
    # not-async-context-manager,  # E1701
    # fatal,  # F0001
    # astroid-error,  # F0002
    # parse-error,  # F0010
    # config-parse-error,  # F0011
    # method-check-failed,  # F0202
    # raw-checker-failed,  # I0001
    # bad-inline-option,  # I0010
    # locally-disabled,  # I0011
    # file-ignored,  # I0013
    # suppressed-message,  # I0020
    # useless-suppression,  # I0021
    # deprecated-pragma,  # I0022
    # use-symbolic-message-instead,  # I0023
    # c-extension-no-member,  # I1101
    # literal-comparison,  # R0123
    # comparison-with-itself,  # R0124
    no-self-use,  # R0201
    # no-classmethod-decorator,  # R0202
    # no-staticmethod-decorator,  # R0203
    # useless-object-inheritance,  # R0205
    # property-with-parameters,  # R0206
    # cyclic-import,  # R0401
    # consider-using-from-import,  # R0402
    duplicate-code,  # R0801
    # too-many-ancestors,  # R0901
    too-many-instance-attributes,  # R0902
    too-few-public-methods,  # R0903
    too-many-public-methods,  # R0904
    # too-many-return-statements,  # R0911
    # too-many-branches,  # R0912
    too-many-arguments,  # R0913
    too-many-locals,  # R0914
    too-many-statements,  # R0915
    # too-many-boolean-expressions,  # R0916
    # consider-merging-isinstance,  # R1701
    # too-many-nested-blocks,  # R1702
    # simplifiable-if-statement,  # R1703
    # redefined-argument-from-local,  # R1704
    no-else-return,  # R1705
    # consider-using-ternary,  # R1706
    # trailing-comma-tuple,  # R1707
    # stop-iteration-return,  # R1708
    # simplify-boolean-expression,  # R1709
    inconsistent-return-statements,  # R1710
    useless-return,  # R1711
    # consider-swap-variables,  # R1712
    # consider-using-join,  # R1713
    # consider-using-in,  # R1714
    # consider-using-get,  # R1715
    # chained-comparison,  # R1716
    # consider-using-dict-comprehension,  # R1717
    # consider-using-set-comprehension,  # R1718
    # simplifiable-if-expression,  # R1719
    # no-else-raise,  # R1720
    # unnecessary-comprehension,  # R1721
    # consider-using-sys-exit,  # R1722
    # no-else-break,  # R1723
    # no-else-continue,  # R1724
    # super-with-arguments,  # R1725
    # simplifiable-condition,  # R1726
    # condition-evals-to-constant,  # R1727
    # consider-using-generator,  # R1728
    # use-a-generator,  # R1729
    # consider-using-min-builtin,  # R1730
    # consider-using-max-builtin,  # R1731
    consider-using-with,  # R1732
    # unnecessary-dict-index-lookup,  # R1733
    # use-list-literal,  # R1734
    # use-dict-literal,  # R1735
    # unreachable,  # W0101
    # dangerous-default-value,  # W0102
    # pointless-statement,  # W0104
    # pointless-string-statement,  # W0105
    # expression-not-assigned,  # W0106
    # unnecessary-pass,  # W0107
    # unnecessary-lambda,  # W0108
    # duplicate-key,  # W0109
    # assign-to-new-keyword,  # W0111
    # useless-else-on-loop,  # W0120
    # exec-used,  # W0122
    # eval-used,  # W0123
    # confusing-with-statement,  # W0124
    # using-constant-test,  # W0125
    # missing-parentheses-for-call-in-test,  # W0126
    # self-assigning-variable,  # W0127
    # redeclared-assigned-name,  # W0128
    # assert-on-string-literal,  # W0129
    # comparison-with-callable,  # W0143
    # lost-exception,  # W0150
    # nan-comparison,  # W0177
    # assert-on-tuple,  # W0199
    attribute-defined-outside-init,  # W0201
    # bad-staticmethod-argument,  # W0211
    protected-access,  # W0212
    # arguments-differ,  # W0221
    # signature-differs,  # W0222
    # abstract-method,  # W0223
    # super-init-not-called,  # W0231
    # no-init,  # W0232
    # non-parent-init-called,  # W0233
    # useless-super-delegation,  # W0235
    # invalid-overridden-method,  # W0236
    # arguments-renamed,  # W0237
    # unused-private-member,  # W0238
    # overridden-final-method,  # W0239
    # subclassed-final-class,  # W0240
    # unnecessary-semicolon,  # W0301
    # bad-indentation,  # W0311
    # wildcard-import,  # W0401
    # deprecated-module,  # W0402
    # reimported,  # W0404
    # import-self,  # W0406
    # preferred-module,  # W0407
    # misplaced-future,  # W0410
    fixme,  # W0511
    # global-variable-undefined,  # W0601
    # global-variable-not-assigned,  # W0602
    # global-statement,  # W0603
    # global-at-module-level,  # W0604
    # uunused-importnused-import,  # W0611
    # unused-variable,  # W0612
    unused-argument,  # W0613
    # unused-wildcard-import,  # W0614
    redefined-outer-name,  # W0621
    redefined-builtin,  # W0622
    # undefined-loop-variable,  # W0631
    # unbalanced-tuple-unpacking,  # W0632
    # cell-var-from-loop,  # W0640
    # possibly-unused-variable,  # W0641
    # self-cls-assignment,  # W0642
    # bare-except,  # W0702
    broad-except,  # W0703
    # duplicate-except,  # W0705
    try-except-raise,  # W0706
    raise-missing-from,  # W0707
    # binary-op-exception,  # W0711
    # raising-format-tuple,  # W0715
    # wrong-exception-operation,  # W0716
    # keyword-arg-before-vararg,  # W1113
    # arguments-out-of-order,  # W1114
    # non-str-assignment-to-dunder-name,  # W1115
    # isinstance-second-argument-not-valid-type,  # W1116
    # logging-not-lazy,  # W1201
    # logging-format-interpolation,  # W1202
    # logging-fstring-interpolation,  # W1203
    # bad-format-string-key,  # W1300
    # unused-format-string-key,  # W1301
    # bad-format-string,  # W1302
    # missing-format-argument-key,  # W1303
    # unused-format-string-argument,  # W1304
    # format-combined-specification,  # W1305
    # missing-format-attribute,  # W1306
    # invalid-format-index,  # W1307
    # duplicate-string-formatting-argument,  # W1308
    # f-string-without-interpolation,  # W1309
    # format-string-without-interpolation,  # W1310
    anomalous-backslash-in-string,  # W1401
    # anomalous-unicode-escape-in-string,  # W1402
    # implicit-str-concat,  # W1404
    # inconsistent-quotes,  # W1405
    # redundant-u-string-prefix,  # W1406
    # bad-open-mode,  # W1501
    # redundant-unittest-assert,  # W1503
    # deprecated-method,  # W1505
    # bad-thread-instantiation,  # W1506
    # shallow-copy-environ,  # W1507
    # invalid-envvar-default,  # W1508
    # subprocess-popen-preexec-fn,  # W1509
    # subprocess-run-check,  # W1510
    # deprecated-argument,  # W1511
    # deprecated-class,  # W1512
    # deprecated-decorator,  # W1513
    unspecified-encoding,  # W1514
    # forgotten-debug-statement,  # W1515
    # using-f-string-in-unsupported-version,  # W1601
    # using-final-decorator-in-unsupported-version,  # W1602
    # useless-with-lock,  # W2101
    # return-arg-in-generator,  # E0106
    # continue-in-finally,  # E0116
    # boolean-datetime,  # W1502
