include *.cfg
include *.ebnf
include *.ini
include *.md
include *.rst
include *.txt
include *.yaml
include Makefile


include docs/*
exclude docs/_build
exclude docs/_static
exclude docs/_templates

recursive-include tatsu *.ebnf

recursive-include etc *
recursive-exclude etc *.pdf

recursive-include examples/g2e *
exclude examples/g2e/antlr_parser.py
exclude examples/g2e/python.ebnf

recursive-include examples/calc *

global-exclude *.pyc
global-exclude *.pyd
global-exclude *.pyo
global-exclude *.orig
global-exclude *.c
global-exclude *.so
global-exclude *~
global-exclude __pycache__
