#Cython>=0.29
colorama>=0.4
docutils>=0.14
flake8>=3.6
mypy>=0.641
pandoc>=1.0
pep257>=0.7
pygraphviz>=1.5
pytest>=3.9
pyyaml>=3.12
regex>=2018.8
sphinx-rtd-theme>=0.3
sphinx>=1.7
tox-travis>=0.11
tox>=3.5
twine>=1.12
typing>=3.6
