line-length = 88

select = [
    'F', 'E', 'W', 'UP',
    'I', 'YTT', 'S', 'B',
    'COM', 'C4', 'SIM',
    'PTH', 'TRY',
    'FLY', 'PERF', 'FURB', 'RUF',
    'PL', 'PGH', 'RET',
    # 'ERA', # commented out code
]
ignore = [
    'E501', 'E741', 'E402',
    'S101', 'S102', 'S105', 'S301', 'S311',
    'C408',
    'SIM115', 'SIM114',
    'PTH123',
    'TRY003', 'TRY300',
    'PLW1514', 'PLR6301',
    'PLC0415',
    'PLR0913', 'PLR2004', 'PLR0904', 'PLR0915',
    'PLW0603', 'PLW2901', 'PLW3201',
    'RET505',
]
exclude = ['tatsu/bootstrap.py']

target-version = 'py312'

[per-file-ignores]

[mccabe]
# Unlike Flake8, default to a complexity level of 10.
max-complexity = 10

[pydocstyle]
convention = 'numpy'
